.ai__postPage-container{
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    height: 400px;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 4rem;
    
    background: var(--gradient-bar);
    border-radius: 1rem;
}

.ai__postPage{
    display: flex;
    flex-direction: column;
    margin: 4rem;
  }
 

.ai__postPage-content p{
  font-family: var(--font-family);
  font-weight: 599;
  font-size: 16px;
  line-height: 30px;
  color: #0e0e0e
 }


 .ai__postPage-content h3{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #0e0e0e
 }

 .ai__postPage-replies{
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 4rem;
  background:-moz-radial-gradient(circle at 100% 3%, rgba(78, 123, 65, 1) 0%, rgba(0, 135, 212, 1) 87%);

   /* safari 5.1+,chrome 10+ */
   background:-webkit-radial-gradient(circle at 100% 3%, rgba(78, 123, 65, 1) 0%, rgba(0, 135, 212, 1) 87%);

   /* opera 11.10+ */
   background:-o-radial-gradient(circle at 100% 3%, rgba(78, 123, 65, 1) 0%, rgba(0, 135, 212, 1) 87%);

   /* ie 10+ */
   background:-ms-radial-gradient(circle at 100% 3%, rgba(78, 123, 65, 1) 0%, rgba(0, 135, 212, 1) 87%);

   /* global 92%+ browsers support */
   background:radial-gradient(circle at 100% 3%, rgba(78, 123, 65, 1) 0%, rgba(0, 135, 212, 1) 87%);

  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.ai__postPage-replies p{
  font-family: var(--font-family);
   font-weight: 599;
   font-size: 12px;
   line-height: 30px;
   color: #0e0e0e
}