.ai__header{
    display: flex;
}

.ai__header-content{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.ai__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
}

.ai__header-content p{
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
}

.ai__header-content__input{
    width: 1000px;
    margin: 2rem 0 1rem;

    display: flex;
}

.ai__header-content__input input{
    flex: 3;
    width: 100%;
    min-height: 50px;
    background: var(--color-footer);
    border-radius: 5px 0px 0px 5px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.ai__header-content__input button{
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size:20px;
    line-height: 27px;
    background: #FF4820;
    color: #FFFF;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
