.ai__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.ai__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ai__navbar-links_title{
    margin-right: 2rem;
}

.ai__navbar-links_title h1{
    font-family: var(--font-family);
    font-weight:5000;
    font-size: 50px;
}

.ai__navbar-sign button{
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ff4820;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;


}
.ai__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ai__navbar-sign p{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin: 0 1rem;
    cursor: pointer;
    

}